<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Devs do amanhã - Registro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./js/validator.js"></script>
</head>

<body id="page-style">
  <header class="navbar navbar-expand-lg navbar-dark bg-c-dark1">
    <a title="Voltar ao login" class="navbar-brand" href="/">Devs do amanhã</a>
  </header>
  <br />
  <div class="container">
    <div class="row">
      <div class="col col-lg">
        <form style="color: white; display: flex; justify-content: center;" id="registerform">
          <div style="padding: 30px; border-radius: 5px; margin-bottom: 15px;" class="row border border-c-dark1">
            <div>
              <h1 class="titulo fUbuntuWhite">Cadastro</h1>
              <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background: #503b7d;"><br>
              <label for="email">Email: </label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Email">
              <label for="name">Nome: </label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Nome">
              <label for="pass">Senha: </label>
              <input class="form-control" type="password" id="pass" name="pass" placeholder="Senha"><br>
              <div class="g-recaptcha" data-sitekey="6LfhRr8ZAAAAADMKaNrTxEMgbqcZ_8D5JNicbpbP"></div>
              <button class="btn btn-light" style="margin-top: 10px;">Cadastro</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <footer class="page-footer font-small unique-color-dark">
    <div class="bg-c-dark1">
      <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h1 class="text-uppercase font-weight-bold">Quem somos nós?</h1>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <div class="fUbuntuLight">
              <ul style="list-style-type: none; padding: 0;">
                  <li style="padding: 3px;">Filipe Araújo - Front-End</li>
                  <li style="padding: 3px;">Vitor - Front-End</li>
                  <li style="padding: 3px;">Lucas Araújo - Back-End</li>
                  <li style="padding: 3px;">Jorgin - Designer</li>
              </ul>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h1 class="text-uppercase font-weight-bold">Outras formas de contato</h1>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <div class="fUbuntuLight">
              Empresarial:
              <ul>
                <li>portfolio.estagio@hotmail.com</li>
              </ul>
              Pessoal:
              <ul>
                <li>filiperosasteam@gmail.com</li>
                <li>l.araujjo@hotmail.com.br</li>
                <li>vitornunes918@gmail.com</li>
              </ul>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h1 class="text-uppercase font-weight-bold">Outros sites</h1>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <p>
                <a title="Link para a RosaPerrone" href="http://rosaperrone.com.br/">Rosaperrone</a>
            </p>
            <p>
                <a title="Link para o Bootstrap" href="https://getbootstrap.com/">Bootstrap</a>
            </p>
            <p>
                <a title="Link para o JQuery" href="https://jquery.com/">JQuery</a>
            </p>
        </div>
    </div>
        <div style="color: white;border-top: 1px solid #f8f9fa26;" class="footer-copyright text-center py-3">© 2020
          Copyright:
          <a href="http://devsda.glitch.me/">devsda.glitch.me</a>
        </div>
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css" />
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="./js/client.js" defer></script>

</body>

</html>